/* Card feed */
.lh-feed-icon {
  width: 46px;
  height: 46px;
  background-color: var(--color-bg);
  border: 2px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 46px;
  transition: none !important;
}

.lh-feed-icon img {
  width: 30px;
}

.lh-feed-content h2 {
  font-family: "VCR OSD Mono";
  font-size: 18px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.lh-feed-content p {
  font-size: 14px;
  font-family: "Merriweather";
}

.lh-active-feed {
  border-color: var(--red);
  background-color: rgba(210, 96, 90, 0.3);
}

.lh-active-feed .lh-feed-icon {
  border-color: var(--red-dark);
  background-color: var(--red);
}

/* Lh offer price */
.lh-offer-price {
  font-size: 42px;
  text-align: center;
}

.react-tel-input .form-control {
    width: 100%;
  border-radius: 4px;
  border: 2px solid var(--dark) !important;
  background-color: var(--fill);
  font-size: 16px;
  outline: none;
  transition: 0.1s ease-in-out;
  height: 48px;
  padding: 0 12px;
  overflow: hidden;
  padding-left: 40px;
  }
  .react-tel-input .form-control:focus {
    border-color: #a34d41 !important;
  }
  
  .react-tel-input .form-control::placeholder {
    color: var(--placeholder);
    font-weight: 100;
    text-transform: uppercase;
  }

  .lh-tel-button {
    border: none !important;
    background: transparent !important;
    outline: none !important;
  }