/* lh pop up */
.lh-popup {
    position: fixed;
    bottom: -100%; /* start hidden below screen */
    left: 50%;
    transform: translateX(-50%);
    background: var(--fill);
    color: var(--dark);
    padding: 0;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }
  
  .lh-popup.full-height {
    height: 90vh;
  }
  
  .lh-popup-header {
    width: 100%;
    background-color: var(--green-dark);
    border: 2px solid var(--dark);
    height: 44px;
    display: flex;
    justify-content: right;
    align-items: center !important;
    padding: 0 8px;
  }
  
  .lh-popup-header button {
    width: 26px;
    height: 26px;
    background-color: #4c5f62;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
  }
  
  .lh-popup-header button img {
    width: 10px;
  }
  
  .lh-popup-body {
    padding: 16px;
  }
  
  .lh-popup.active {
    bottom: 0; /* slide into view */
  }